<!DOCTYPE html>
<html>
<head>
    <title>Pakistan Atomic Power</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'power_plants' %}">Power Plants</a></li>
                <li><a href="{% url 'employees' %}">Employees</a></li>
                <li><a href="{% url 'news' %}">News</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>